#Dependencias

node_modules/

#Enviroment variables
.env
.env.local
.env.*.local

# Build output
dist/

# Docker volumes
docker/dynamodb/
docker/localstack/

# LocalStack
.localstack/

# CDK
infra/cdk.out/

#IA
".claude/"
